<!DOCTYPE html>
<html>
<head>
<title>Get Veloroad</title>
<meta charset="utf-8">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{{ url_for('static', filename='togeojson.js') }}"></script>
<script src="{{ url_for('static', filename='Edit.SimpleShape.js') }}"></script>
<script src="{{ url_for('static', filename='Edit.Rectangle.js') }}"></script>
<script src="{{ url_for('static', filename='bounds.geojson') }}"></script>
<script type="text/javascript">
    srcLayers = {{ layers_json | safe }};
    firstLayer = '{{ styles[0][0] }}';
</script>
<script src="{{ url_for('static', filename='getveloroad.js') }}"></script>
<style>
  html, body { height: 100%; margin: 0; }
  #map { height: 100%; margin-left: 310px; }
  .leaflet-edit-move { cursor: move; }
  .leaflet-edit-resize { cursor: pointer; }
  .leaflet-div-icon { opacity: 0.8; border-width: 2px; }
  #form { float: left; width: 300px; padding: 8px; font-family: sans-serif; }
  #form div { margin-bottom: 1em; }
  #form #submit { width: 90%; padding: 8px; font-weight: bold; font-size: large; }
</style>
</head>
<body>
<form id="form" action="{{ url_for('render') }}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="bbox" id="fbbox" value="">
  <input type="hidden" name="scalepos" id="fscalepos" value="">

  <h3>{{ L.paper }}</h3>
  <div>
    {{ L.units }}:
    <input type="radio" name="units" value="mm" id="umm" checked><label for="umm"> {{ L.mm }}</label>
    <input type="radio" name="units" value="px" id="upx"><label for="upx"> {{ L.px }}</label><br>
    <input type="text" size="3" id="width" name="width" value="">×<input type="text" size="3" id="height" name="height" value=""><br>
    <input type="button" onclick="updateFormat('A4');" value="A4">
    <input type="button" onclick="updateFormat('A5');" value="A5">
    <input type="button" onclick="updateFormat('A6');" value="A6"><br>
    {{ L.margins }}: <select id="margin" name="margin">
      <option value="0">0</option>
      <option value="5">5</option>
      <option value="7">7</option>
      <option value="10" selected>10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select> {{ L.mm }}<br>
  </div>
  <div>
    <input type="radio" name="dim" value="both" id="dim1" checked><label for="dim1">{{ L.d_both }}</label><br>
    <input type="radio" name="dim" value="width" id="dim2"><label for="dim2">{{ L.d_width }}</label><br>
    <input type="radio" name="dim" value="height" id="dim3"><label for="dim3">{{ L.d_height }}</label><br>
    <input type="radio" name="dim" value="zoom" id="dim4"><label for="dim4">{{ L.d_zoom }}</label>
    <input type="text" size="2" id="zoom" name="zoom" value="7">
  </div>

  <h3>{{ L.bbox }}</h3>
  <div>
    <input type="button" onclick="moveAreaHere();" value="{{ L.b_move }}"><br>
    <input type="button" onclick="fitPaper();" value="{{ L.b_paper }}"><br>
    <input type="button" onclick="fitToTrace();" value="{{ L.b_trace }}">
  </div>

  <h3>{{ L.features }}</h3>
  <div>
    {{ L.trace }}: <input type="file" name="trace" id="file"><br>
    <input type="checkbox" id="drawtrace" name="drawtrace" checked><label for="drawtrace"> {{ L.draw_trace }}</label><br>
    <input type="checkbox" id="fit" name="fit"><label for="fit"> {{ L.fit_trace }}</label><br>
  </div>

  <div>
    <input type="checkbox" name="scale" id="scale" onchange="enableScale(this.checked);"><label for="scale">{{ L.scale }}</label>
    <select id="scalens" name="scalens" size="1">
      <option value="3-1">3 × 1 {{ L.km }}</option>
      <option value="5-1" selected>5 × 1 {{ L.km }}</option>
      <option value="5-2">5 × 2 {{ L.km }}</option>
      <option value="5-4">5 × 4 {{ L.km }}</option>
      <option value="3-5">3 × 5 {{ L.km }}</option>
      <option value="5-5">5 × 5 {{ L.km }}</option>
      <option value="3-10">3 × 10 {{ L.km }}</option>
      <option value="5-10">5 × 10 {{ L.km }}</option>
    </select>
  </div>

  <h3>{{ L.format }}</h3>
  <div>
    {{ L.style }}: <select name="style" id="fstyle" size="1" onchange="changeLayer(this.value)">
      {% for st in styles %}
      <option value="{{ st[0] }}"{% if loop.index == 1 %} selected{% endif %}>{{ st[1] }}</option>
      {% endfor %}
    </select>
    {% for fmt in formats %}
    <br><input type="radio" name="format" value="{{ fmt[0] }}" id="fmt{{ loop.index }}"{% if fmt[0] == 'svg' %} checked{% endif %}><label for="fmt{{ loop.index }}">{{ fmt[1] }}</label>
    {% endfor %}
  </div>

  <div><input type="submit" id="submit" value="{{ L.submit }}" onclick="javascript: prepareBBox(this.form); return true;"></div>

  <div>
    <input type="button" id="permbtn" value="{{ L.c_permalink }}" onclick="permalink();">
    <a id="permalink" href="#" style="display: none;">{{ L.permalink }}</a>
  </div>
</form>
<div id="map"></div>
</body>
</html>
