[submodule "svg_resize"]
	path = svg_resize
	url = https://github.com/Zverik/svg-resize.git
[submodule "mapnik_group_text"]
	path = mapnik_group_text
	url = https://github.com/Zverik/mapnik-group-text.git
